.mindprod-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem 2rem;
  min-height: 100vh;
  background-color: #ffffff;
  position: relative;
}

@media (max-width: 768px) {
  .mindprod-container {
    padding: 5rem 1rem 2rem;
  }
} 